.item-cart{
    list-style: none;
    border-bottom: 1px solid gray;
    padding: 10px;
    text-align: left;
    display: flex;
}
.cart{
    width: fit-content;
    margin: auto;
    border: solid 1px gray;
    border-radius: 10px;
    margin-top: 20px;
}
.btn-cart{
    width: auto;
    background-color: #9fb9bf;
    border: 1px solid gray;
}