@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dosis:wght@300&display=swap);
*{
    font-family: 'Dosis', sans-serif;
}
.item-cart{
    list-style: none;
    border-bottom: 1px solid gray;
    padding: 10px;
    text-align: left;
    display: flex;
}
.cart{
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}
.btn-cart{
    width: auto;
    background-color: #9fb9bf;
    border: 1px solid gray;
}