@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dosis:wght@300&display=swap);
*{
    font-family: 'Dosis', sans-serif;
}
.title-cont{
  font-size: 20px;
  margin: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #d3d3d3;
  text-transform: uppercase;
}
.titulos{
    color: #9fb9bf;
}
.loader {
    width: 48px;
    height: 40px;
    margin-top: 30px;
    display: inline-block;
    position: relative;
    background: #9fb9bf;
    border-radius: 15% 15% 35% 35%;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 45px;
    top: 8px;
    border: 4px solid #9fb9bf;
    width: 16px;
    height: 20px;
    border-radius: 0 4px 4px 0;
  }
  .loader::before {
    content: '';  
    position: absolute;
    width: 1px;
    height: 10px;
    color: #9fb9bf;
    top: -15px;
    left: 11px;
    box-sizing: border-box;
    animation: animloader 1s ease infinite;
  }
  
  @keyframes animloader {
      0% {
    box-shadow: 2px 0px rgba(159,185,191, 0), 12px 0px rgba(159,185,191, 0.3), 20px 0px rgba(159,185,191, 0);
  }
      50% {
    box-shadow: 2px -5px rgba(159,185,191, 0.5), 12px -3px rgba(159,185,191, 0.5), 20px -2px rgba(159,185,191, 0.6);
  }
      100% {
    box-shadow: 2px -8px rgba(159,185,191, 0), 12px -5px rgba(159,185,191, 0), 20px -5px rgba(159,185,191, 0);
  }
    }
      
.item-list-container{
    margin: 20px;
}
.item-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    margin: 15px;
}
.item-img{
    width: 100%;
    height: auto;
}
.title{
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
    border-bottom: 1px solid #d3d3d3;
}
.price{
    font-size: 16px;
    padding: 10px 0px;
}
.desc{
    font-size: 15px;
    font-style: italic;
}
.btn-detail{
    width: 100px;
    height: 30px;
    padding: 5px;
    vertical-align: middle;
    border: 1px solid black;
    background-color: #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
}
