.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}
.text-area{
    width: 400px;
    height: 200px;
    margin: 8px;
}
.contact-block{
    margin: 0px 20px;
}