@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dosis:wght@300&display=swap);
*{
    font-family: 'Dosis', sans-serif;
}
.menu-bar{
    position: sticky;
    z-index: 10;
    top: 0px;
    background-color: #9fb9bf;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}
.menu-logo{
    height: 80px;
}
.menu{
    padding: 0px 20px;
}
.menu-list{
    list-style: none;
    display: flex;
    padding: 0px 30px;
}
.menu-item:hover > .submenu{
    display: block;
}

.submenu{
    position: absolute;
    width: 130px;
    height: auto;
    background: #9fb9bf;
    list-style: none;
    text-align: left;
    padding: 20px;
    display: none;
}
.submenu-link{
    text-decoration: none;
    color: white;
    padding: 10px 0px;

}
.submenu li{
    padding: 10px 0px;
}
.menu-item{
    list-style: none;
    padding: 0px 10px;
    position: relative;
}
.menu-link{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
}

.icon-white{
    color: white;
    width: 25px;
    height: 25px;
    margin-top: 8px;
}
.cart-cantidad{
    vertical-align: top;
    padding: 2px 8px;
    color: black;
    background-color: #d3d3d3;
    border-radius: 50%;
    margin: -8px;
    text-align: center;
}
a{
    text-decoration: none;
}