*{
    box-sizing: border-box;
}
.contador{
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    margin: auto;
}
.contador-control{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;;
}
button{
    border: none;
    background-color: transparent;
    align-content: center;
    cursor: pointer;
}
p{
    margin: auto;
    padding: 5px;
}

